# Byte-compiled / optimized / DLL Files
__pycache__/
*.py[cod]
*$py.class

# Logging output files
logs/

# Virtual Envornments
.venv
venv/
env/
ENV/

# Jupyter Notebook
.ipynb_checkpoints

# Editor project settings
## VSCode
.vscode/
## PyCharm intellij
.idea/
## repl.it
.replit
## Spyder
.spyproject/
.spyderproject/

# Custom attributes for folders on Mac OS
.DS_Store

# Backup files
*.bak

# Coverage output
.coverage

# Personal TODO files
TODO

